.home {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .logo {
        font-size: 12rem;

        @include desktop-large {
            font-size: 12rem;
        }

        @include desktop {
            font-size: 8rem;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        margin-bottom: -21vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1 {
            margin-top: 0vh;
            margin-bottom: 8rem;

            span.small {
                font-size: 2.2rem;
                position: relative;
                top: -2.8rem;
                font-weight: normal;
            }

            span.stroke {
                -webkit-text-stroke: 1.5px #fff;
                color: transparent;
            }
        }
    }



    &__footer {
        position: relative;
        z-index: 2;
        position: absolute;
        bottom: 3.5rem;
        text-align: center;

        .info {
            margin-bottom: 2rem;
            font-size: 1.3rem;
            font-weight: normal;
        }

        .copyrights {
            color: rgba($color: #fff, $alpha: .6);
            font-size: 1.4rem;
        }
    }

    &__user {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    
        .in {
            margin-top: 3rem;
        }
    
        .out {
            margin-top: 6rem;
            padding: 1rem;
            background: #000;
        }
    
        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            &_avatar {
                width: 10rem;
                height: 10rem;
                position: relative;
                z-index: 2;
                margin-bottom: 2rem;
                
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 99rem;
                }
    
                .avatar-placeholder {
                    border-radius: 99rem;
                    width: 100%;
                    height: 100%;
                    background: #FCCEA7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    span {
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: #000;
                        text-transform: uppercase;
                    }
                }
            }
    
            &_name {
                font-size: 7.2rem;
                margin: 0 .6rem;
                font-weight: bold;
                transition: all ease-in-out .3s;
                display: flex;
                line-height: 1;
                align-items: center;
    
                span.stroke {
                    -webkit-text-stroke: 1px #fff;
                    color: transparent;
                    margin-right: 1rem;
                }
    
                svg {
                    margin-left: .6rem;
                    opacity: .4;
                    transition: all ease-in-out .2s;
                }
            }
        }
    }

    &__or {
        margin-top: 3rem;
        font-size: 2rem;
    }

    &__join {
        input {
            padding: 0.7rem;
        }

        button {
            margin-left: 0.5rem;
        }
    }

    &__bg {
        background-image: url('~@/assets/img/bg.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        &-logo {
            background-image: url('~@/assets/img/rasputify-big.jpg');
            position: absolute;
            top: 100px;
            bottom: 0;
            right: 0;
            left: 0;
            height: 600px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}



.fade-enter-active {
    transition: opacity .4s
}
  
.fade-enter,
.fade-leave-active {
    opacity: 0
}