.room {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url('~@/assets/img/bg.jpg');
    background-size: cover;
    background-position: center;

    @include mobile {
        height: auto;
    }

    &_content {
        position: relative;
        z-index: 3;
        height: 100%;

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            height: calc(100% - 7rem);

            @include desktop-xlarge {
                height: calc(100% - 6.6rem);
            }
            @include desktop-large {
                height: calc(100% - 6.3rem);
            }
    
            @include desktop {
                height: calc(100% - 6rem);
            }

            .player {
                width: 50%;

                @include mobile {
                    width: 100%;
                }
            }

            .queue {
                width: 50%;

                @include mobile {
                    width: 100%;
                }
            }
        }
    }

    button.add-track {

        &:hover {
            background: $red;

        }
    }

    .add-track {
        height: 7rem;
        background: #000;
        display: flex;
        width: 100%;
        color: #fff;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out .2s;

        @include desktop-xlarge {
            height: 6.6rem;
        }
        @include desktop-large {
            height: 6.3rem;
        }
        @include desktop {
            height: 6rem;
        }

        @include mobile {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 99999;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.5rem;
            background: $color-primary;
            color: #000;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 99rem;
        }

        .info {
            margin-left: 2rem;
            background: rgba(#fff, .1);
            border-radius: 99rem;
            padding: .3rem 1rem;

            .small {
                font-size: 1.4rem;
                color: rgba(#fff, .4);
                font-weight: 400;
            }
        }
    }
    
    &_bg {
        position: absolute;
        z-index: 1;
        top: -5rem;
        right: -5rem;
        bottom: -5rem;
        left: -5rem;
        background-size: cover;
        background-position: center;
        filter: blur(5rem);
        opacity: 1;
        transition: background-image .4s ease-in-out;

        &-texture {
            background-image: url('~@/assets/img/bg-texture.png');
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: center;
        }

        &-default {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('~@/assets/img/bg.jpg');
        }
    }
}