.btn {
    &-main {
        color: $color-primary;
        font-size: 2.8rem;
        line-height: 3.2rem;
        font-weight: bold;
        transition: all ease-in-out .2s;
        padding: 0;
        border-bottom: .1rem solid transparent;
        display: inline-flex;
        align-items: center;

        span {
            padding: 2rem 0;
            align-items: center;
        }

        svg {
            margin-top: .5rem;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 1rem;
            transition: all ease-in-out .2s;

            @include desktop-large {
                width: 1.5rem;
                height: 1.5rem;
            }

            @include desktop {
                width: 1.3rem;
                height: 1.3rem;
            }
        }

        @include desktop-large {
            font-size: 3rem;
            line-height: 3.2rem;
        }

        @include desktop {
            font-size: 2.6rem;
            line-height: 2.8rem;
        }
     
    }

    &-inline {
        display: inline-flex;
        align-items: center;
        color: #fff;
        transition: all ease-in-out .2s;

        &:hover {
            color: $color-primary;

            svg {
                path {
                    fill: $color-primary;
                }
            }
        }

        svg {
            width: .7rem;
            height: .7rem;
            margin-left: .3rem;
            margin-right: .3rem;
            transition: all ease-in-out .2s;
            
            path {
                fill: #fff;
            }
        }
    }
}