.btn {
    &-main {
        color: $color-primary;
        font-size: 2.8rem;
        line-height: 3.2rem;
        font-weight: bold;
        transition: all ease-in-out .2s;
        padding: 0;
        border-bottom: .1rem solid transparent;

        span {
            padding: 2rem 0;
            align-items: center;
        }

        svg {
            margin-top: .5rem;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 1rem;
            transition: all ease-in-out .2s;

            @include desktop-large {
                width: 1.3rem;
                height: 1.3rem;
            }

            @include desktop {
                width: 1rem;
                height: 1rem;
            }
        }

        @include desktop-large {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }

        @include desktop {
            font-size: 2rem;
            line-height: 2.4rem;
        }
     
    }

    &-inline {
        display: inline-flex;
        align-items: center;
        color: #fff;

        &:hover {
            svg {
                width: .7rem;
                height: .7rem;
                opacity: 1;
            }
        }

        svg {
            margin-left: .3rem;
            margin-right: .3rem;
            opacity: 0;
            width: 0;
            height: 0;
            transition: all ease-in-out .2s;
            
            path {
                fill: #fff;
            }
        }
    }
}