.btn {
    &-main {
        color: $color-primary;
        font-size: 2.8rem;
        line-height: 3.2rem;
        font-weight: bold;
        transition: all ease-in-out .2s;

        @include desktop-large {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }

        @include desktop {
            font-size: 2rem;
            line-height: 2.4rem;
        }

        &:hover {
            text-decoration: underline;
        }

        &:after {
            content: "";
            background: url('~@/assets/svg/button-arrow.svg');
            background-size: 1rem;
            width: 1rem;
            height: 1rem;
        }
    }
}