.player {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__track {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;

        @include mobile {
            margin-top: 10rem;
            margin-bottom: 10rem;
        }

        &_user {
            text-align: center;
            margin-bottom: 4rem;

            @include mobile {
                margin-bottom: 2rem;
            }

            .vote-count {
                color: #fff;
                font-size: 2.4rem;

                @include mobile {
                    font-size: 1.8rem;
                }

                span {
                    font-size: 1.6rem;
                    margin-left: .4rem;

                    @include mobile {
                        font-size: 1.4rem;
                    }
                }
            }
            .user {
                font-weight: 400;
                opacity: .6;
            }
        }

        &_artwork {
            width: 40rem;
            height: 40rem;
            margin-bottom: 4rem;
            position: relative;

            @include desktop-xlarge {
                width: 35rem;
                height: 35rem;
            }

            @include desktop-large {
                width: 30rem;
                height: 30rem;
            }

            @include desktop {
                width: 25rem;
                height: 25rem;
            }

            @include mobile {
                width: 22.5rem;
                height: 22.5rem;
                margin-bottom: 2rem;
            }
            
            .track-artwork--texture {
                background-image: url('~@/assets/img/artwork-texture.png');
                opacity: .4;
                position: absolute;
                z-index: 3;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: cover;
                background-position: center;
            }

            .track-artwork--vinyl {
                position: absolute;
                z-index: 1;
                width: 11rem;
                height: 40rem;
                top: 0;
                right: -6.5rem;
                background-image: url('~@/assets/img/artwork-vinyl.png');
                opacity: .9;
                background-size: cover;
                background-position: center;
                
                @include desktop-xlarge {
                    width: 8rem;
                    height: 35rem;
                    right: -6rem;
                }
    
                @include desktop-large {
                    width: 7rem;
                    height: 30rem;
                    right: -5.5rem;
                }
    
                @include desktop {
                    width: 5.8rem;
                    height: 25rem;
                    right: -5rem;
                }

                @include mobile {
                    display: none;
                }
            }

            img {
                position: relative;
                z-index: 2;
                width: 100%;
                box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.02),
                0 6.7px 5.3px rgba(0, 0, 0, 0.028),
                0 12.5px 10px rgba(0, 0, 0, 0.035),
                0 22.3px 17.9px rgba(0, 0, 0, 0.042),
                0 41.8px 33.4px rgba(0, 0, 0, 0.05),
                0 100px 80px rgba(0, 0, 0, 0.07)
                ;

            }

            .artwork--default {
                background-image: url('~@/assets/img/artwork-placeholder.png');
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 30rem;
                    height: 30rem;

                    @include desktop-xlarge {
                        width: 26rem;
                        height: 26rem;    
                    }
        
                    @include desktop-large {
                        width: 22rem;
                        height: 22rem;    
                    }
        
                    @include desktop {
                        width: 18rem;
                        height: 18rem;    
                    }
                }
            }
        }

        &_info {
            text-align: center;
            position: relative;
            z-index: 4;

            .track-name {
                margin-bottom: .5rem;
                font-size: 4.2rem;
                display: flex;
                max-width: 45vw;
                
                @include desktop-xlarge {
                    font-size: 4rem;
                }
                @include desktop-large {
                    font-size: 3.8rem;
                }
    
                @include desktop {
                    font-size: 3.4rem;
                }

                @include mobile {
                    font-size: 2.4rem;
                    max-width: 100%;
                }

                span {
                    display: block;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .track-artist {
                font-size: 2.4rem;
                
                @include desktop-large {
                    font-size: 2.2rem;
                }
    
                @include desktop {
                    font-size: 2rem;
                }

                @include mobile {
                    font-size: 1.8rem;
                }

                span {
                    opacity: .6;
                }

                &-default {
                    display: inline-flex;
                    align-items: center;
                    transition: all ease-in-out .2s;

                    &.btn {
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                            color: $color-primary;

                            svg {
                                path {
                                    fill: $color-primary;
                                }
                            }
                        }

                        svg {
                            width: .9rem;
                            height: .9rem;
                            margin-left: .4rem;
                            transition: all ease-in-out .2s;
                            
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    &__controls {
        position: absolute;
        bottom: 0;
        width: 100%;

        @include mobile {
            width: 60%;
        }

        &_inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 1rem 1.5rem;

            @include mobile {
                padding: 1rem 0;
            }

            .toggle-mute {
                width: 6rem;
                height: 6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(#000, .1);
                transition: all ease-in-out .2s;
                margin-bottom: -0.3rem;
                
                @include desktop-xlarge {
                    width: 5.5rem;
                    height: 5.5rem;
                }
    
                @include desktop-large {
                    width: 5rem;
                    height: 5rem;
                }
    
                @include desktop {
                    width: 4.5rem;
                    height: 4.5rem;
                }

                @include mobile {
                    margin-bottom: 2rem;
                }

                .unmute {
                    svg {
                        path {
                            fill: $color-primary;
                        }
                    }
                }

                &:hover {
                    background: rgba(#000, .6);
                }
            }

            .timer {
                width: 6rem;
                display: flex;

                @include mobile {
                    font-size: 1.2rem;
                }

                &.start {
                    justify-content: flex-start;
                }

                &.end {
                    justify-content: flex-end;
                }
            }
        }

        &_progress {
            height: .8rem;
            width: 100%;
            overflow: hidden;
            background: rgba(#fff, .15);

            @include desktop {
                height: .5rem;
            }

            @include mobile {
                height: .3rem;
            }

            .progress-bar {
                width: 0;
                height: .8rem;
                background: $color-primary;
                transition: all linear 1s;

                @include desktop {
                    height: .5rem;
                }

                @include mobile {
                    height: .3rem;
                }
            }
        }
    }
}