.player {
    &__track {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_artwork {
            width: 25rem;
            height: 25rem;
            box-shadow: 0 8px 28px 0 rgba(0,0,0,0.25);

            img {
                width: 100%;
            }
        }

        &_info {
            text-align: center;

            .track-name {
                font-size: 3.4rem;
            }

            .track-artist {
                font-size: 2rem;
                opacity: .6;
            }
        }
    }

    &__controls {
        margin-top: 10rem;

        &_inner {
            display: flex;
            justify-content: space-between;
        }

        &_progress {
            height: .6rem;
            background: rgba(#fff, .15);

            .progress-bar {
                width: 0;
                height: .6rem;
                background: $color-primary;
                transition: all linear 1s;
            }
        }
    }
}