.player {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__track {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_artwork {
            width: 25rem;
            height: 25rem;
            box-shadow: 0 8px 28px 0 rgba(0,0,0,0.25);
            margin-bottom: 4.5rem;

            img {
                width: 100%;
            }
        }

        &_info {
            text-align: center;

            .track-name {
                margin-bottom: 1rem;
                font-size: 3.4rem;
            }

            .track-artist {
                font-size: 2rem;
                opacity: .6;
            }
        }
    }

    &__controls {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 10rem;

        &_inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 1rem 1.5rem;

            .toggle-mute {
                width: 4.5rem;
                height: 4.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(#000, .1);
                transition: all ease-in-out .2s;
                margin-bottom: 5rem;

                &:hover {
                    background: rgba(#000, .6);
                }
            }

            .timer {
                width: 6rem;
                display: flex;

                &.start {
                    justify-content: flex-start;
                }

                &.end {
                    justify-content: flex-end;
                }
            }
        }

        &_progress {
            height: .6rem;
            width: 100%;
            overflow: hidden;
            background: rgba(#fff, .15);

            .progress-bar {
                width: 0;
                height: .6rem;
                background: $color-primary;
                transition: all linear 1s;
            }
        }
    }
}