.search-wrapper {
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 7rem;
    z-index: 999;
    background: rgba($color: #000000, $alpha: .95);
    transform: translateX(-100%);
    transition: transform cubic-bezier(0.05, 0.45, 0.25, 0.75)  .4s;

    @include desktop-xlarge {
        bottom: 6.6rem;
    }
    @include desktop-large {
        bottom: 6.3rem;
    }

    @include desktop {
        bottom: 6rem;
    }

    &.active {
        transform: translateX(0);
    }
    .search {
        &__input {
            padding: 0 3rem;
            input {
                font-size: 3.8rem;
                line-height: 1;
                color: #fff;
                font-weight: bold;
                background: none;
                width: 100%;
                border: none;
                height: 15rem;

                &::placeholder {
                    color: rgba($color: #fff, $alpha: .3);
                }
            }
        }

        &__results {
            padding: 0 3rem;
            height: calc(100vh - 22rem);
            overflow-y: scroll;

            .queue-track {
                padding: 1.5rem 0;
            }   
        }
    }
}