.search-wrapper {
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 7rem;
    z-index: 999;
    background: rgba($color: #000000, $alpha: .95);
    transform: translateX(-100%);
    transition: transform cubic-bezier(0.05, 0.45, 0.25, 0.75)  .4s;

    @include desktop-xlarge {
        bottom: 6.6rem;
    }
    @include desktop-large {
        bottom: 6.3rem;
    }

    @include desktop {
        bottom: 6rem;
    }

    &.active {
        transform: translateX(0);
    }
    .search {
        &__input {
            padding: 0 3rem;
            
            input {
                font-size: 3.8rem;
                line-height: 1;
                color: #fff;
                font-weight: bold;
                background: none;
                width: 100%;
                border: none;
                height: 15rem;

                &::placeholder {
                    color: rgba($color: #fff, $alpha: .3);
                }
            }
        }

        &__results {
            height: calc(100vh - 22rem);
            overflow-y: scroll;
            cursor: none;

            .queue-track {
                padding: 1.5rem 3rem;
                transition: all ease-in-out .2s;
                border: none;
                position: relative;

                &:hover {
                    cursor: none;
                }

                .cursor-wrapper {
                    position: fixed;
                    left: -10rem;
                    font-size: 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1600000;
                    pointer-events: none;
                    transform: translate(-50%, -50%);
                    color: $color-primary;

                    svg {
                        width: .8rem;
                        height: .8rem;
                        margin-left: .4rem;

                        path {
                            fill: $color-primary;
                        }
                    }
                }
            
                .queue-track_cursor {
                    opacity: 0;
                    pointer-events: none;
                    transition: all cubic-bezier(.17,.67,.28,1.86) .4s;
                    transition-delay: .01s;
                    transform: scale(0.4);
                    font-size: 1.4rem;
                    display: flex;
                    white-space: nowrap;
                    align-items: center;
            
                    &.active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                &:not(.inactive) {
                    &:hover {
                        background: rgba($color: #FFF, $alpha: .1);
                    }
                }

                &.inactive {
                    .queue-track__info {
                        opacity: .2;
                    }

                    .cursor-wrapper {
                        color: #fff;
                    }
                }
            }   
        }
    }
}