/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #fff, $alpha: .2)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}

.debug {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 1rem;
    color: rgba($color: #fff, $alpha: .4);
    text-align: center;
    width: 8rem;

    &:hover {
      color: #fff;
      background: rgba($color: #000, $alpha: .2);
    }
  }
}

.list-complete-enter {
  opacity: 0;
  transform: translateX(-10rem);
}

.list-complete-leave-to {
  opacity: 0;
  transform: translateY(-10rem);
}
.list-complete-leave-active {
  position: absolute;
}

.loader-before {
  position: absolute;   
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 999;
  opacity: 1;
  top: 0;
  left: -100vw;
  transition: all ease-in-out 1s;
  pointer-events: none;
}

.loader-after {
  position: absolute;   
  width: 100vw;
  height: 100vh;
  background: $red;
  z-index: 999;
  opacity: 1;
  top: 0;
  left: 0;
  transition: all ease-in-out 1s;
  pointer-events: none;
}