html {
    font-size: 62.5%;
}

body {
    color: #fff;
    font-family: $font-primary;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: bold;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #000;
}   

#app {
    width: 100vw;
    height: 100vh;
}

main {
    transition: background-color 0.2s ease;
    position: relative;
}

::selection {
    background: $color-primary;
    color: #000;
}

*:focus { 
    outline: none; 
}
*:not(input) { 
    user-select: none; 
}

